<h1>Enter your information</h1>
<%= form_for @user do |f| %>
    Name: <%= f.text_field :name %> <br />
    Email: <%= f.text_field :email %> <br />
    Phone Number: <%= f.text_field :phoneNumber %> <br />
    <%= f.submit %>
<% end %>